@import "tailwindcss";

@font-face {
  font-family: "Dynamo";
  src: url("/fonts/dynamo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

#logo {
  font-family: "Dynamo", sans-serif;
  font-size: 2rem;
}
